* {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

img {
  width: auto;
  height: 100px;
}

.container {
  display: flex;
}

.left-column {
  flex: 1;
}

.right-column {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

table {
  width: 60%;
  border-collapse: collapse;
}

td {
  border: 1px solid #000; /* for testing purpose*/
  text-align: center;
  height: 105px;
}
